<table id="main_categories">
<% @categories.each do |category| %>
  <tr class="main">
    <td>
      <%= link_to category.name, category %><br />
      <%= category.description %>
    </td>
    <td>
      <%= category.contained_albums.count %>
    </td>
    <td>
      <%= category.contained_images.count %>
    </td>
  </tr>
  <% category.children.each do |subcategory| %>
    <tr>
      <td>
        <%= link_to subcategory.name, subcategory %><br />
        <%= subcategory.description %>
      </td>
      <td>
        <%= subcategory.contained_albums.count %>
      </td>
      <td>
        <%= subcategory.contained_images.count %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>

<%= render :template => 'images/random' %>

<%= link_to 'Add Category', new_category_path %>
