<p id="notice"><%= notice %></p>

<%= raw breadcrumb(@album).join ' > ' %>

<h2>
  <%= @album.name %>
</h2>

<p>
  <%= @album.description %>
</p>

<ul>
  <%= render :partial => 'images/image', :collection => @album.images %>
</ul>

<div>
  <%= paginate @images %>
</div>

<p class="summary">
  <%= @album.images.count %> images on <%= pluralize(@images.num_pages, 'page') %>
</p>


<%= link_to 'Add Image', new_category_album_image_path(@album.category, @album) %> |
<%= link_to 'Edit', edit_category_album_path(@album.category, @album) %> |
<%= link_to 'Back', category_path(@album.category) %>
