<p id="notice"><%= notice %></p>

<% breadcrumb(@album).each do |crumb| %>
  <%= crumb %>
<% end %>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>

<ul>
  <% @images.each do |image| %>
    <li><%= link_to(image_tag(image.subject.url(:thumb)), category_album_image_path(@album.category, @album, image)) %> -- 
      <%= link_to 'Destroy', [@album.category, @album, image], :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
</ul>

<div>
  <%= paginate @images %>
</div>


<%= link_to 'Add Image', new_category_album_image_path(@album.category, @album) %> |
<%= link_to 'Edit', edit_category_album_path(@album.category, @album) %> |
<%= link_to 'Back', category_path(@album.category) %>
