<p id="notice"><%= notice %></p>
<table id="albumMain" cellspacing="0">
  <tr>
    <td id="galleryBreadcrumbs" colspan="2">
      <%= raw breadcrumb(@album).join ' > ' %>
    </td>
  </tr>
  <tr>
    <td id="albumName" colspan="2">
      <%= @album.name %>
    </td>
  </tr>
  <tr class="albumDisplay">
    <td colspan="2">
      <%= @album.description %>

      <ul>
       <%= render :partial => 'images/image', :collection => @images %>
      </ul>
    </td>
  </tr>
  <tr class="summary">
    <td>
      <%= @album.images.count %> images on <%= pluralize(@images.num_pages, 'page') %>
    </td>
    <td class="albumPaginate" align="right">
      <%= paginate @images %>
    </td>
  </tr>
</table>



<% if is_admin? %>
  <%= link_to 'Add Image', new_category_album_image_path(@album.category, @album) %> |
  <%= link_to 'Edit', edit_category_album_path(@album.category, @album) %> |
  <%= link_to 'Destroy', category_album_path(@album.category, @album), :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<!--<%= link_to 'Back', category_path(@album.category) %>-->
