<tr class="subcategory">
  <td width="600">
    <%= link_to subcategory.name, subcategory %><br />
    <%= subcategory.description %>
    <% if is_admin? %>
      --
      <%= link_to 'Destroy', subcategory.parent, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </td>
  <td align="center">
    <%= subcategory.contained_albums.count %>
  </td>
  <td align="center">
    <%= subcategory.contained_images.count %>
  </td>
</tr>

<tr class="albums">
  <td colspan="3">

    <ul class="albums">
      <%= render :partial => 'album', :collection => subcategory.albums %>
    </ul>
  </td>
</tr>

<% if subcategory.children.any? %>

<% subcategory.children.each do |child| %>
<tr class="subcategories">
          <td width="600"><%= link_to child.name, child %></td>
          <td align="center"><%= child.contained_albums.count %></td>
          <td align="center"><%= child.contained_images.count %></td>
</tr>
<% end %>
<% end %>

<tr class="summary">
  <td colspan="3">
    <%= subcategory.albums.count %> albums
  </td>
</tr>
