<table id="editCategories">
  <tr>
    <td>
      <h2>Editing Categories</h2>
      <%= render 'form' %>

      <ul class="albums">
      <% @category.albums.each do |album| %>
        <li id="<%= category_album_path(album.category, album) %>">
          <%= album.name %>
        </li>
      <% end %>
      </ul>

    </td>
  </tr>
</table>
<!--<%= link_to 'Show', @category %> |-->
<!--<%= link_to 'Back', categories_path %>-->
