<p id="notice"><%= notice %></p>

<% breadcrumb(@category).each do |crumb| %>
  <%= crumb %>
<% end %>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<ul>
  <% @category.children.each do |category| %>
    <li><%= link_to category.name, category %> -- <%= link_to 'Destroy', @category, :confirm => 'Are you sure?', :method => :delete %></li></li>
  <% end %>
</ul>

<ul>
  <% @albums.each do |album| %>
    <li><%= link_to album.name, [@category, album] %> -- <%= link_to 'Destroy', [@category, album], :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
</ul>

<div>
  <%= paginate @albums %>
</div>


<%= link_to 'Add Album', new_category_album_path(@category) %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', cat_parent_path(@category) %>
