<p id="notice"><%= notice %></p>

<%= raw breadcrumb(@category).join ' > ' %>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<table class="contents">

<% unless @category.children.empty? %>
  <tr>
    <th>
      Category
    </th>
    <th>
      Albums
    </th>
    <th>
      Images
    </th>
  </tr>

  <%= render :partial => 'subcategory', :collection => @category.children %>
<% end %>

<% unless @category.albums.empty? %>
  <tr class="category albums">
    <td colspan="3">
      <%= render :partial => 'album', :collection => @category.albums %>
    </td>
  </tr>

  <tr class="summary">
    <th colspan="3">
      <%= @category.albums.count %> albums
    </th>
  </tr>
<% end %>

</table>

<%= link_to 'Add Album', new_category_album_path(@category) %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', cat_parent_path(@category) %>
