<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<ul>
  <% @category.children.each do |category| %>
    <li><%= link_to category.name, category %></li>
  <% end %>
</ul>

<ul>
  <% @category.albums.each do |album| %>
    <li><%= link_to album.name, [@category, album] %></li>
  <% end %>
</ul>


<%= link_to 'Add Album', new_category_album_path(@category) %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', cat_parent_path(@category) %>
