<h1>Listing images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.name %></td>
    <td><%= h(image.description).gsub(/\n/, '<br />') %></td>
    <td><%= link_to 'Show', image %></td>
    <% if is_admin? %>
      <td><%= link_to 'Edit', edit_image_path(image) %></td>
      <td class="destroyImage"><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= if_admin { link_to 'New Image', new_image_path } %>
