<p id="notice"><%= notice %></p>

<%= raw breadcrumb(@image).join ' > ' %>


<p>
  <%= link_to (image_tag @image.subject.url(:view)), @image.subject.to_s, :target => '_blank' %>
</p>

<p>
  <%= @image.name %>
</p>

<p>
  <%= h(@image.description).gsub(/\n/, '<br />') %>
</p>

<p>
  <%= @image.views %> views
</p>

<ul class="peer_images">
  <% @image.album.images.each do |image| %>
    <li><%= link_to (image_tag image.subject.url(:thumb)), [@image.album.category, @image.album, image] %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_category_album_image_path(@image.album.category, @image.album, @image) %> |
<%= link_to 'Destroy', category_album_image_path(@image.album.category, @image.album, @image), :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', category_album_path(@image.album.category, @image.album) %>
