<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <%= link_to (image_tag @image.subject.url(:view)), @image.subject.to_s %>
</p>

<p>
  <b>Views:</b>
  <%= @image.views %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>


<%= link_to 'Edit', edit_category_album_image_path(@image.album.category, @image.album, @image) %> |
<%= link_to 'Back', category_album_path(@image.album.category, @image.album.id) %>
